<!DOCTYPE html>
<html>
<head>
	<h1> Coffee Shop Database </h1><br>
	<!-- <button onclick="goProduct()">Product</button> -->
	<style>
		h1 {
			text-align: center;
			color:  rgb(70, 45, 0);

		}
		@media (min-width: 600px){
			.item {
				width: 50%;
			}
		}
		button {
			text-align: center;
			margin-right: 20px;
			margin-top: 40px;
			color: whitesmoke;
			background-color: black;
			border-radius: 0%;
			cursor: pointer;
			font-size: 20px;
		}
		button:hover {
			color: black;
			background-color: beige;
		}
	</style>
</head>

<body>
	<div style = "text-align: center;">
		<button type="button"><b>Product</b></button>
		<button type="button"><b>Customer</b></button>
		<button type="button"><b>Order</b></button>
		<br>
		<button type="button"><b>Employee</b></button>
		<button type="button"><b>Sales</b></button>
		<button type="button"><b>Inventory</b></button>
	</div>
</body>
</html>