<!DOCTYPE html>
<html>
<head>
	<h1> 제품 관리 페이지 </h1><br>
	<style>
		table {
			margin-left: auto;
			margin-right: auto;
		}
		th, td {
			text-align: center;
		}
		h1 {
			text-align: center;
		}
		h3, form {
			text-align: center;
		}
		@media (min-width: 600px){
			.item {
				width: 50%;
			}
		}
	</style>
</head>

<body>
	<h3> ☕️ Product table ☕️ </h3>
        <form>
            <label for="quest"><b>데이터 추가</b></label>
            <input type="text" id="quest" name="answer" style="width: 600px;">
            <input type="submit" value="확인">
        </form>
	<br>
	
	<table border = '' class = "table">
		<thead>
			<tr>
				<th>Product Number</th>
				<th>Product</th>
				<th>Product Price</th>
				<th>Expiry Date</th>
				<th>Stock</th>
			</tr>
		<thead>

		<tbody>

			{% for i in product_data %}
			<tr>
				<td>{{ i[0] }}</td>
				<td>{{ i[1] }}</td>
				<td>{{ i[2] }}</td>
				<td>{{ i[3] }}</td>
				<td>{{ i[4] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

</body>
</html>