<!DOCTYPE html>
<html>
<head>
	<h1> 판매 관리 페이지 </h1><br>
	<style>
		table {
			margin-left: auto;
			margin-right: auto;
		}
		th, td {
			text-align: center;
		}
		h1 {
			text-align: center;
		}
		h3, form {
			text-align: center;
		}
		.form-group label {
			margin-right: 20px;
			font-weight: bold;
		}

		.form-group input {
			width: 300px;
		}
		@media (min-width: 600px){
			.item {
				width: 50%;
			}
		}
	</style>
	<script>
		function home_href() {
			window.location.href = "/"
		}

		function addAdditionalField() {
			var formGroup = document.createElement('div');
			formGroup.className = 'form-group';

			var label = document.createElement('label');
			label.textContent = 'Additional Field';
			formGroup.appendChild(label);

			var input = document.createElement('input');
			input.type = 'text';
			input.name = 'additional_field[]';
			formGroup.appendChild(input);

			var br = document.createElement('br');
			formGroup.appendChild(br);

			var form = document.querySelector('form');
			form.insertBefore(formGroup, form.lastElementChild);
		}
	</script>
</head>

<body>
	<h3> 🎤 Sales table 🎤 </h3>
	<form method="POST", action="/sales">
		<div class="form-group">
			<label for="sales_number"><b>Sales Number</b></label>
			<input type="text" id="sales_number" name="sales_number">
			<br>
		</div>
		<div class="form-group">
			<label for="sales_quantity_by_product"><b>Sales Quantity by Product</b></label>
			<input type="text" id="sales_quantity_by_product" name="sales_quantity_by_product">
			<br>
		</div>
		<div class="form-group">
			<label for="total_sales"><b>Total Sales</b></label>
			<input type="text" id="total_sales" name="total_sales">
			<br>
		</div>
		<div class="form-group">
			<label for="cash_sales"><b>Cash Sales</b></label>
			<input type="text" id="cash_sales" name="cash_sales">
			<br>
		</div>
		<div class="form-group">
			<label for="card_sales"><b>Card Sales</b></label>
			<input type="text" id="card_sales" name="card_sales">
			<br>
		</div>
		<br>
		<button type="submit"><b>데이터 추가</b></button> 

	</form>
	<br>
	
	<table border = '' class = "table">
		<thead>
			<tr>
				<th>Sales Number</th>
				<th>Sales Volume by Product</th>
				<th>Total Sales</th>
				<th>Cash Sales</th>
				<th>Card Sales</th>
			</tr>
		<thead>

		<tbody>

			{% for i in sales_data %}
				{% if not i[5] %}
				<tr>
					<td>{{ i[0] }}</td>
					<td>{{ i[1] }}</td>
					<td>{{ i[2] }}</td>
					<td>{{ i[3] }}</td>
					<td>{{ i[4] }}</td>
					<td>
						<form method="POST" action="/sales">
							<input type="hidden" name="sales_number" value="{{ i[0] }}">
							<button type="submit" class="delete-button" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</button>
							
						</form>
					</td>
				</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>

	<div style = "text-align: center;">
		<br>
		<button type="button", onclick="home_href()"><b>Go To Home</b></button>
	</div>

</body>
</html>